In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [13]:
scy=StandardScaler()
y_train=scy.fit_transform(y_train)
y_test=scy.transform(y_test)

In [14]:
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':["squared_error","absolute_error","friedman_mse","poisson"],
'max_features': ["sqrt","log2",None],
'splitter':["best","random"]}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,cv=5,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 179, in fit
    "Some value(s) of y are negative which is"
ValueError: Some value(s) of y are negative which is not allowed for Poisson regression.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.54006858 0.58991641 0.62059763 0.61395111 0.6603521  0.66978398
 0.65511206 0.5857586  0.59576782 0.54792059 0.64259548 0.64465306
 0.64099066 0.55535429 0.61154071 0.55798625 0.66533935 0.63836352
        nan        nan        nan        nan        nan        nan]
  category=UserWarning,

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2', None],
                         'splitter': ['best', 'random']},
             verbose=3)

In [16]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'squared_error', 'max_features': None, 'splitter': 'random'}: 0.7232513403448011

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.009375,0.007655,0.000000,0.000000,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.599540,0.557591,0.548556,0.465315,0.529340,0.540069,0.043861,18
1,0.003125,0.006250,0.000000,0.000000,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.542973,0.574059,0.631771,0.561859,0.638920,0.589916,0.038459,13
2,0.003125,0.006251,0.003124,0.006249,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.706128,0.655341,0.536881,0.640743,0.563895,0.620598,0.061890,9
3,0.003125,0.006250,0.003125,0.006250,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.750548,0.584232,0.578966,0.558293,0.597717,0.613951,0.069465,10
4,0.006250,0.007654,0.000000,0.000000,squared_error,None,best,"{'criterion': 'squared_error', 'max_features':...",0.712840,0.548652,0.755117,0.638487,0.646665,0.660352,0.070537,3
5,0.000000,0.000000,0.000000,0.000000,squared_error,None,random,"{'criterion': 'squared_error', 'max_features':...",0.783906,0.546781,0.711482,0.655223,0.651528,0.669784,0.078022,1
6,0.018751,0.006250,0.000000,0.000000,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.659853,0.674619,0.666259,0.563373,0.711457,0.655112,0.049230,4
7,0.018750,0.006251,0.000000,0.000000,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.627715,0.577738,0.621041,0.486775,0.615524,0.585759,0.052447,14
8,0.022159,0.008000,0.000000,0.000000,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.697825,0.546224,0.640907,0.428761,0.665122,0.595768,0.097580,12
9,0.019165,0.006180,0.000000,0.000000,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.621540,0.578635,0.493415,0.431737,0.614274,0.547921,0.073804,17
10,0.031620,0.000455,0.003125,0.006250,absolute_error,None,best,"{'criterion': 'absolute_error', 'max_features'...",0.735193,0.641869,0.615318,0.572661,0.647937,0.642595,0.053364,6
11,0.015682,0.000174,0.000000,0.000000,absolute_error,None,random,"{'criterion': 'absolute_error', 'max_features'...",0.645738,0.672606,0.666403,0.586114,0.652404,0.644653,0.030798,5
12,0.000000,0.000000,0.000000,0.000000,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.705332,0.589785,0.638001,0.602379,0.669457,0.640991,0.042596,7
13,0.003126,0.006252,0.003126,0.006252,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.668845,0.517406,0.500678,0.610135,0.479707,0.555354,0.072157,16
14,0.000000,0.000000,0.000000,0.000000,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.711486,0.516528,0.561091,0.675941,0.592657,0.611541,0.072202,11
15,0.000000,0.000000,0.003125,0.006250,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.622079,0.485791,0.561139,0.520442,0.600480,0.557986,0.050090,15
16,0.003125,0.006250,0.000000,0.000000,friedman_mse,None,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.715645,0.585217,0.758023,0.603177,0.664634,0.665339,0.065430,2
17,0.000000,0.000000,0.003125,0.006250,friedman_mse,None,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.688795,0.617856,0.613944,0.633498,0.637724,0.638364,0.026774,8
18,0.000000,0.000000,0.000000,0.000000,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
19,0.000000,0.000000,0.000000,0.000000,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
20,0.000000,0.000000,0.000000,0.000000,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
21,0.000000,0.000000,0.000000,0.000000,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
22,0.003125,0.006250,0.000000,0.000000,poisson,None,best,"{'criterion': 'poisson', 'max_features': None,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
23,0.000000,0.000000,0.000000,0.000000,poisson,None,random,"{'criterion': 'poisson', 'max_features': None,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24

In [19]:
import pickle
filename="finalized_model_Decisiontree.sav"
pickle.dump(grid,open(filename,'wb'))

In [20]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:35
BMI:36
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [21]:
Preinput = sc.transform([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

C:\Users\user\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [22]:
loaded_model=pickle.load(open("finalized_model_Decisiontree.sav",'rb'))

In [23]:
Future_Prediction=grid.predict(Preinput)

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[-0.63197417]

In [25]:
preoutput=scy.inverse_transform([Future_Prediction])

In [28]:
preoutput

array([[5729.0053]])