In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':["squared_error”,“absolute_error","friedman_mse","poisson"],
'max_features':["sqrt","log2",None],
'splitter':["best","random"]}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 356, in fit
    criterion = CRITERIA_REG[self.criterion](self.n_outputs_, n_samples)
KeyError: 'squared_error”,“absolute_error'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
 0.54557377 0.53121618 0.60484067 0.58728124 0.67516183 0.64313667
 0.54599638 0.59516957 0.57585093 0.56916667 0.64331774 0.58846109]
  category=UserWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error”,“absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2', None],
                         'splitter': ['best', 'random']},
             verbose=3)

In [14]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)

In [15]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': None, 'splitter': 'best'}: 0.7213433502597529

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.009383,0.007661,0.000000,0.000000,"squared_error”,“absolute_error",sqrt,best,"{'criterion': 'squared_error”,“absolute_error'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
1,0.003126,0.006252,0.000000,0.000000,"squared_error”,“absolute_error",sqrt,random,"{'criterion': 'squared_error”,“absolute_error'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
2,0.006252,0.007657,0.000000,0.000000,"squared_error”,“absolute_error",log2,best,"{'criterion': 'squared_error”,“absolute_error'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
3,0.003126,0.006252,0.000000,0.000000,"squared_error”,“absolute_error",log2,random,"{'criterion': 'squared_error”,“absolute_error'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
4,0.003125,0.006251,0.000000,0.000000,"squared_error”,“absolute_error",None,best,"{'criterion': 'squared_error”,“absolute_error'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
5,0.003126,0.006252,0.000000,0.000000,"squared_error”,“absolute_error",None,random,"{'criterion': 'squared_error”,“absolute_error'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
6,0.003126,0.006252,0.003126,0.006252,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.698324,0.622013,0.307185,0.602922,0.497425,0.545574,0.135360,11
7,0.006252,0.007657,0.000000,0.000000,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.669341,0.567306,0.564196,0.397997,0.457240,0.531216,0.094539,12
8,0.003126,0.006253,0.003126,0.006253,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.469568,0.578767,0.658749,0.668891,0.648229,0.604841,0.074659,4
9,0.003126,0.006252,0.003126,0.006252,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.552348,0.670923,0.594807,0.616278,0.502050,0.587281,0.057233,7
10,0.006252,0.007657,0.003126,0.006253,friedman_mse,None,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.735000,0.580909,0.787866,0.621046,0.650988,0.675162,0.075736,1
11,0.003126,0.006253,0.003126,0.006253,friedman_mse,None,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.581120,0.704982,0.699026,0.622821,0.607735,0.643137,0.049921,3
12,0.009377,0.007656,0.003126,0.006252,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.627313,0.571864,0.415791,0.570177,0.544837,0.545996,0.070457,10
13,0.006252,0.007657,0.003126,0.006252,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.753394,0.617079,0.515801,0.607631,0.481943,0.595170,0.094647,5
14,0.006799,0.003485,0.000000,0.000000,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.592026,0.567764,0.596519,0.600323,0.522623,0.575851,0.028935,8
15,0.003126,0.006252,0.003126,0.006252,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.660068,0.531692,0.455437,0.605663,0.592973,0.569167,0.070001,9
16,0.003126,0.006252,0.006251,0.007656,poisson,None,best,"{'criterion': 'poisson', 'max_features': None,...",0.645635,0.580801,0.673682,0.671518,0.644954,0.643318,0.033567,2
17,0.006252,0.007658,0.000000,0.000000,poisson,None,random,"{'criterion': 'poisson', 'max_features': None,...",0.622641,0.498009,0.717590,0.504362,0.599704,0.588461,0.081515,6