In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [14]:
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':["squared_error","absolute_error","friedman_mse","poisson"],
'max_features':["sqrt","log2",None],
'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2', None],
                         'n_estimators': [10, 100]},
             verbose=3)

In [15]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}: 0.872101163759474

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.065645,0.006253,0.012503,0.006252,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.838010,0.773836,0.793765,0.804175,0.762574,0.794472,0.026205,10
1,0.534944,0.011698,0.028134,0.006251,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.863994,0.790943,0.812182,0.823845,0.773417,0.812876,0.030893,3
2,0.062521,0.000002,0.006253,0.007658,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.844905,0.751627,0.782873,0.776314,0.742342,0.779612,0.035936,18
3,0.534779,0.018187,0.031260,0.000001,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.864139,0.790421,0.809107,0.828247,0.767711,0.811925,0.032918,5
4,0.075024,0.006253,0.003125,0.006251,squared_error,None,10,"{'criterion': 'squared_error', 'max_features':...",0.859448,0.752719,0.796704,0.806005,0.759087,0.794793,0.038353,9
5,0.619061,0.007757,0.031450,0.000285,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.864402,0.769837,0.810951,0.801210,0.767705,0.802821,0.035162,7
6,0.184432,0.006252,0.003126,0.006251,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.834620,0.762745,0.772874,0.802613,0.750418,0.784654,0.030364,15
7,1.701363,0.006377,0.028135,0.006253,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.857224,0.800654,0.811366,0.824706,0.775595,0.813909,0.026992,1
8,0.187835,0.009957,0.006217,0.007615,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.818057,0.763695,0.787382,0.808277,0.723328,0.780148,0.034000,17
9,1.697545,0.024415,0.028134,0.006252,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.858829,0.793166,0.810664,0.817579,0.769736,0.809995,0.029485,6
10,0.291033,0.007592,0.003126,0.006251,absolute_error,None,10,"{'criterion': 'absolute_error', 'max_features'...",0.829959,0.763034,0.778017,0.764842,0.768926,0.780956,0.025042,16
11,2.770030,0.018383,0.028134,0.006253,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.842124,0.775742,0.795454,0.788268,0.763943,0.793106,0.026772,11
12,0.062599,0.009886,0.006252,0.007657,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.863111,0.766391,0.774370,0.788608,0.730973,0.784691,0.043571,14
13,0.475529,0.011523,0.028149,0.004198,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.867185,0.792857,0.813315,0.825574,0.767993,0.813385,0.033241,2
14,0.056268,0.007657,0.006252,0.007658,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.840172,0.774343,0.797213,0.797183,0.753419,0.792466,0.028892,12
15,0.490941,0.007856,0.025007,0.007657,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.864884,0.788382,0.810421,0.827471,0.768832,0.811998,0.033045,4
16,0.072000,0.007744,0.012481,0.006241,friedman_mse,None,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.850974,0.737053,0.793685,0.784603,0.771116,0.787486,0.037118,13
17,0.626191,0.010411,0.030899,0.000623,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861643,0.767560,0.809807,0.797146,0.767964,0.800824,0.034581,8
18,0.075024,0.011697,0.006252,0.007658,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.832843,0.714026,0.753728,0.732868,0.670921,0.740877,0.053483,24
19,0.669855,0.015317,0.031261,0.000002,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.839331,0.733411,0.777980,0.774306,0.721141,0.769234,0.041502,20
20,0.073405,0.009033,0.005030,0.006457,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.836111,0.681450,0.772558,0.764403,0.718895,0.754683,0.052323,22
21,0.676252,0.010771,0.027553,0.007418,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.844790,0.747119,0.780516,0.776030,0.707000,0.771091,0.045227,19
22,0.109487,0.009886,0.000000,0.000000,poisson,None,10,"{'criterion': 'poisson', 'max_features': None,...",0.748829,0.710915,0.744620,0.781413,0.731933,0.743542,0.023077,23
23,0.820038,0.059000,0.025014,0.007660,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.783283,0.738342,0.770570,0.797167,0.750685,0.768010,0.021309,21

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:23
BMI:56
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[42797.2872183]