In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
independent = sc.fit_transform(independent)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':["squared_error","absolute_error","friedman_mse","poisson"],
'max_features': ["sqrt","log2"],
'splitter':["best","random"]}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,cv=5,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [13]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'}: 0.998667156135576

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.018763,0.006265,0.003127,0.006253,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.730064,0.607712,0.726244,0.765991,0.747771,0.715556,0.055743,2
1,0.009379,0.007658,0.009378,0.007657,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.649797,0.582249,0.633903,0.723837,0.611556,0.640268,0.047552,9
2,0.015629,0.000002,0.000000,0.000000,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.534117,0.623425,0.706906,0.639148,0.726670,0.646053,0.068252,8
3,0.009377,0.007656,0.003125,0.006251,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.717463,0.449961,0.656788,0.596190,0.523725,0.588826,0.094596,14
4,0.038516,0.007956,0.006755,0.008312,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.726785,0.579433,0.605810,0.745375,0.689184,0.669317,0.065718,4
5,0.028384,0.005403,0.002704,0.005408,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.672849,0.526085,0.698250,0.708522,0.704546,0.662051,0.069107,5
6,0.037097,0.008045,0.006253,0.007658,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.778400,0.479279,0.554963,0.722144,0.695980,0.646153,0.111273,7
7,0.037506,0.007663,0.003127,0.006254,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.706935,0.648301,0.724378,0.718789,0.598576,0.679396,0.048646,3
8,0.009379,0.007658,0.000000,0.000000,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.787607,0.627530,0.733680,0.721665,0.798697,0.733836,0.060905,1
9,0.009376,0.007656,0.003126,0.006251,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.614359,0.556768,0.600639,0.686581,0.690757,0.629821,0.051696,10
10,0.006253,0.007658,0.006252,0.007657,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.724698,0.537552,0.651178,0.447341,0.714690,0.615092,0.107134,13
11,0.012504,0.006252,0.000000,0.000000,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.591298,0.559331,0.757913,0.683610,0.692921,0.657015,0.072164,6
12,0.012504,0.006252,0.000000,0.000000,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.528684,0.469778,0.542772,0.635737,0.661186,0.567631,0.070854,16
13,0.009378,0.007657,0.003126,0.006252,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.614267,0.625399,0.668977,0.573950,0.623326,0.621184,0.030284,12
14,0.015630,0.000002,0.000000,0.000000,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.574447,0.492439,0.587885,0.645358,0.559868,0.572000,0.049228,15
15,0.003126,0.006252,0.009378,0.007657,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.686801,0.549794,0.621982,0.686719,0.568815,0.622822,0.057318,11

In [16]:
import pickle
filename="finalized_model_Decisiontree.sav"
pickle.dump(grid,open(filename,'wb'))

In [17]:
loaded_model=pickle.load(open("finalized_model_Decisiontree.sav",'rb'))
result=loaded_model.predict([[33,45,2,1,0]])

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:35
BMI:67
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[48549.17835]