In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
independent = sc.fit_transform(independent)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
'max_features': ['auto','sqrt','log2'],
'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,cv=5,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [13]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'auto', 'splitter': 'best'}: 0.998667156135576

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.009459,0.005839,0.006269,0.007678,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.737097,0.612080,0.739662,0.739257,0.686795,0.702978,0.049700,4
1,0.006252,0.007657,0.006252,0.007657,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.658491,0.573582,0.736514,0.673203,0.729460,0.674250,0.058836,9
2,0.006252,0.007657,0.006252,0.007657,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.755116,0.546545,0.574283,0.764880,0.720886,0.672342,0.092964,10
3,0.006252,0.007657,0.003126,0.006252,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.672817,0.518563,0.708247,0.693139,0.709277,0.660409,0.072142,11
4,0.006253,0.007659,0.009378,0.007657,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.670207,0.585747,0.696852,0.663253,0.593089,0.641830,0.044300,18
5,0.006252,0.007657,0.003126,0.006251,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.661297,0.615451,0.675647,0.687050,0.646607,0.657210,0.024913,14
6,0.053140,0.007656,0.000000,0.000000,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.734123,0.649437,0.728011,0.706962,0.762336,0.716174,0.037767,1
7,0.053141,0.007658,0.000000,0.000000,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.684615,0.643960,0.723974,0.754042,0.736534,0.708625,0.039586,2
8,0.034386,0.006252,0.000000,0.000000,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.735602,0.655830,0.643690,0.692749,0.711371,0.687849,0.034155,6
9,0.031259,0.000002,0.000000,0.000000,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.652431,0.570236,0.680366,0.685390,0.681546,0.653994,0.043493,15
10,0.037512,0.007657,0.003126,0.006251,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.657607,0.540641,0.670055,0.740195,0.682733,0.658246,0.065247,13
11,0.031259,0.009885,0.003126,0.006251,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.705303,0.561400,0.750655,0.691726,0.733644,0.688546,0.066856,5
12,0.003126,0.006252,0.006252,0.007658,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.729669,0.650654,0.730390,0.737175,0.689936,0.707565,0.032973,3
13,0.012504,0.006252,0.000000,0.000000,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.685172,0.609060,0.707312,0.701394,0.704376,0.681463,0.037004,8
14,0.006252,0.007657,0.000000,0.000000,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.492796,0.673329,0.724282,0.684561,0.658415,0.646677,0.079982,17
15,0.012503,0.006252,0.000000,0.000000,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.648742,0.538036,0.681620,0.686129,0.693058,0.649517,0.057785,16
16,0.009378,0.007657,0.000000,0.000000,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.731351,0.528902,0.724757,0.739525,0.692113,0.683330,0.078874,7
17,0.006252,0.007657,0.000000,0.000000,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.665535,0.592854,0.667945,0.746079,0.629491,0.660381,0.050876,12

In [16]:
import pickle
filename="finalized_model_Decisiontree.sav"
pickle.dump(grid,open(filename,'wb'))

In [17]:
loaded_model=pickle.load(open("finalized_model_Decisiontree.sav",'rb'))
result=loaded_model.predict([[33,45,2,1,0]])

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:23
BMI:32
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[63770.42801]