In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
'max_features': ['auto','sqrt','log2'],
'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'auto', 'splitter': 'random'}: 0.9943322794837676

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.018756,0.006251,0.009379,0.007658,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.732472,0.616339,0.728801,0.733250,0.671800,0.696533,0.046312,6
1,0.012504,0.006252,0.006252,0.007657,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.736144,0.629417,0.697757,0.643409,0.671407,0.675627,0.038323,12
2,0.009377,0.007657,0.009379,0.007658,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.701945,0.633084,0.690552,0.672618,0.729083,0.685456,0.031965,9
3,0.006251,0.007656,0.006251,0.007656,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.594768,0.549023,0.750755,0.677968,0.668913,0.648285,0.070034,15
4,0.006252,0.007657,0.009378,0.007657,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.713876,0.640418,0.737576,0.724570,0.623246,0.687937,0.046737,7
5,0.009378,0.007657,0.003126,0.006253,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.540344,0.467600,0.696988,0.631979,0.592459,0.585874,0.078201,18
6,0.059392,0.011697,0.006252,0.007657,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.742570,0.604321,0.740649,0.709344,0.755192,0.710415,0.055155,2
7,0.050014,0.011696,0.006252,0.007657,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.754893,0.636561,0.738620,0.735594,0.732499,0.719633,0.042249,1
8,0.043764,0.011696,0.006253,0.007659,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.711567,0.687671,0.640760,0.655877,0.743726,0.687920,0.037214,8
9,0.040638,0.007657,0.003126,0.006253,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.650630,0.576239,0.678156,0.703418,0.736549,0.668998,0.054357,13
10,0.046889,0.009885,0.003126,0.006253,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.714373,0.669626,0.649560,0.724842,0.724711,0.696622,0.031126,5
11,0.034387,0.006252,0.003126,0.006253,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.737283,0.595378,0.735637,0.653219,0.705543,0.685412,0.054334,10
12,0.009378,0.007657,0.012504,0.006252,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.720253,0.643292,0.726567,0.738120,0.683039,0.702254,0.034777,4
13,0.006251,0.007656,0.009378,0.007657,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.710392,0.638855,0.733848,0.736780,0.711868,0.706349,0.035453,3
14,0.012503,0.006252,0.000000,0.000000,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.714356,0.344331,0.691140,0.605223,0.732926,0.617595,0.143457,17
15,0.009378,0.007657,0.009378,0.007657,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.559101,0.639763,0.637154,0.588494,0.692469,0.623396,0.046001,16
16,0.009378,0.007657,0.003131,0.006262,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.672473,0.561643,0.720669,0.691454,0.638344,0.656916,0.054628,14
17,0.009383,0.007661,0.000000,0.000000,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.678172,0.609815,0.742069,0.655663,0.705300,0.678204,0.044717,11

In [15]:
import pickle
filename="finalized_model_Decisiontree.sav"
pickle.dump(grid,open(filename,'wb'))

In [16]:
loaded_model=pickle.load(open("finalized_model_Decisiontree.sav",'rb'))
result=loaded_model.predict([[33,45,2,1,0]])

C:\Users\user\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [17]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:33
BMI:45
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [18]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[4686.3887]

C:\Users\user\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"