In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
independent = sc.fit_transform(independent)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
param_grid={'fit_intercept':[True, False],'copy_X':[True, False],'n_jobs':[1, -1],'positive':[False, True]}
grid=GridSearchCV(LinearRegression(),param_grid,refit=True,cv=5,verbose=3,n_jobs=-1)
regressor=grid.fit(independent,dependent)
y_pred=regressor.predict(independent)
y_pred

Fitting 5 folds for each of 16 candidates, totalling 80 fits

array([[25587.42524891],
       [ 3880.94594512],
       [ 7158.62006921],
       ...,
       [ 4398.7459491 ],
       [ 1615.83647369],
       [36793.67069541]])

In [13]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'copy_X': True, 'fit_intercept': True, 'n_jobs': 1, 'positive': True}: 0.7496945303464789

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_copy_X,param_fit_intercept,param_n_jobs,param_positive,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.024683,0.015457,0.006456,0.007907,True,True,1,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
1,0.015633,0.000003,0.000000,0.000000,True,True,1,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
2,0.012503,0.006252,0.000000,0.000000,True,True,-1,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
3,0.137541,0.006251,0.000000,0.000000,True,True,-1,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
4,0.012503,0.006251,0.000000,0.000000,True,False,1,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,13
5,0.003127,0.006253,0.003126,0.006251,True,False,1,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,9
6,0.006251,0.007656,0.003126,0.006252,True,False,-1,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,13
7,0.121918,0.006254,0.000000,0.000000,True,False,-1,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,9
8,0.006252,0.007658,0.000000,0.000000,False,True,1,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
9,0.003126,0.006252,0.003126,0.006252,False,True,1,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
10,0.000000,0.000000,0.006252,0.007657,False,True,-1,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
11,0.115786,0.007766,0.000000,0.000000,False,True,-1,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
12,0.003126,0.006252,0.000000,0.000000,False,False,1,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,13
13,0.000000,0.000000,0.003126,0.006252,False,False,1,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,9
14,0.003126,0.006252,0.000000,0.000000,False,False,-1,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,13
15,0.119099,0.007673,0.000000,0.000000,False,False,-1,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329938,-0.716615,-0.390302,-0.463066,-0.473329,-0.474650,0.131711,9