In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
param_grid={'fit_intercept':[True, False],'copy_X':[True, False],'n_jobs':[1, -1],'positive':[False, True]}
grid=GridSearchCV(LinearRegression(),param_grid,refit=True,verbose=3,n_jobs=-1)
regressor=grid.fit(independent,dependent)
y_pred=regressor.predict(independent)
y_pred

Fitting 5 folds for each of 16 candidates, totalling 80 fits

array([[25587.42524891],
       [ 3880.94594512],
       [ 7158.62006921],
       ...,
       [ 4398.7459491 ],
       [ 1615.83647369],
       [36793.67069541]])

In [13]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'copy_X': True, 'fit_intercept': True, 'n_jobs': 1, 'positive': True}: 0.749694530346479

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_copy_X,param_fit_intercept,param_n_jobs,param_positive,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.028693,3.861767e-03,0.004738,6.277735e-03,True,True,1,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
1,0.011458,6.077835e-03,0.007904,6.992591e-03,True,True,1,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
2,0.009454,7.720006e-03,0.014162,2.935004e-03,True,True,-1,False,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
3,0.297236,1.357590e-02,0.006252,7.656699e-03,True,True,-1,True,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
4,0.015630,7.921814e-07,0.006252,7.657108e-03,True,False,1,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,9
5,0.006252,7.657050e-03,0.015630,6.843901e-07,True,False,1,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,13
6,0.018756,3.030747e-02,0.012503,6.251431e-03,True,False,-1,False,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,9
7,0.328151,2.339452e-02,0.003126,6.251907e-03,True,False,-1,True,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,13
8,0.018755,6.252098e-03,0.003126,6.252670e-03,False,True,1,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
9,0.009378,7.656914e-03,0.006252,7.656933e-03,False,True,1,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
10,0.012585,8.002156e-03,0.006390,5.887212e-03,False,True,-1,False,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,5
11,0.192907,6.117168e-02,0.003126,6.251907e-03,False,True,-1,True,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.761482,0.708782,0.775584,0.731353,0.756751,0.746790,0.023778,1
12,0.009378,7.657342e-03,0.009377,7.656680e-03,False,False,1,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,9
13,0.009379,7.658276e-03,0.006251,7.656115e-03,False,False,1,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,13
14,0.012504,6.252003e-03,0.006252,1.250467e-02,False,False,-1,False,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727683,0.691272,0.738275,0.700259,0.727085,0.716915,0.017948,9
15,0.140347,1.742288e-02,0.001652,2.365581e-03,False,False,-1,True,"{'copy_X': False, 'fit_intercept': False, 'n_j...",0.727280,0.691876,0.735943,0.699020,0.729543,0.716732,0.017754,13

In [16]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:25
BMI:34
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [17]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[[6233.42063424]]

C:\Users\user\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"